@model E_Commerce_Simple.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="mb-4">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                @Html.ValidationMessageFor(p => p.Name, "", new { @class = "text-danger" })
            </div>
            <div class="mb-4">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                @Html.ValidationMessageFor(p => p.Description, "", new { @class = "text-danger" })
            </div>
            <div class="mb-4">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                @Html.ValidationMessageFor(p => p.Price, "", new { @class = "text-danger" })
            </div>
            <div class="mb-4">
                <label asp-for="Image" class="form-label"></label>
                <input type="file" name="img" class="form-control" />
                @Html.ValidationMessageFor(p => p.Image, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
