@{
    ViewData["Title"] = "Thanks";
}

<div class="alert alert-success alert-dismissible" role="alert">
    Your Order is created.
</div>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back To Shopping</a>
